html{
    scroll-behavior: smooth;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 1000px;
}
.row{
    width: 100%;
}
.row::after{
    content: '';
    display: block;
    clear: both;

}
[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}

  /* Small devece (portable tablet large phone 576px and up) */
  @media (min-width: 576px) {
    .col-sm-1 {width: 8.33%; }
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  }

  /* mediam screen size */
  @media (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
  }




/* Start the header section */
header{
    text-align:center;
    background-color: rgb(59, 135, 179);
}
  .logo-div img{
      height: 100px;
      width: 100px;
      border: 1px solid blue;
      border-radius: 1000px;
  }
  .main-navbar li{
    display: block;
    list-style-type: none;
    padding: 10px 0;
    transition: 0.4s ;
  }
  .main-navbar li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .main-navbar li:hover{
      border-radius: 10px;

      background-color: rgb(16, 94, 94);
}



/* End the header section */
/* Start the banner section */

#banner-section{
    background-image:url("img/8.jpg") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;

}
.container-item{
    padding: 60px 10px;
    text-align: center;
}
.container-item h1{
    border-radius: 10px;
    font-size: 3rem;
    padding: 10px;
    margin: 25px auto;
    background-color: rgba(255, 255, 2, 0.6);
}
.container-item p{
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
   font-size: 1.5rem;
   width: 300px;
    background-color: rgba(219, 14, 219, 0.6);
}
.container-item .btn{
    width: 150px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(15, 15, 238,.8);
    transition: .3s;
}
.container-item .btn:hover{
    transform: scale(1.2);
}
/* End the banner section */
/* start about us Section */
#about-us{
    margin-bottom: 20px;
}
.about-section{
    text-align: center;
}
.about-section h1{ 
    margin: 0 0 20px 0;
    font-weight: bolder;
    font-size: 1.5rem;
}
.about-section p{
    text-align: justify;
}
/* End about us Section */
/* item section start */
.item-details{
    text-align: center;
    padding: 5px;
    transition: 0.3s;
}
.item-details:hover{
    transform: scale(1.1);
}
.item-details img{
    width: 100%;
    height: auto;

}
.item-details h3{
    background-color: rgb(8, 146, 38);
    color: white;
    padding: 25px ;

}
.item-details p{
    font-weight: bold;
    padding: 15px;
    background-color: rgb(124, 124, 121);
}
/* item section End */
/* contract section start */
#contact{
    background-color: rgb(176, 95, 252);
}
#contact iframe{
    width: 100%;
    height: 300px;
    text-align: center;
}
.contact-body{
    text-align:  center;
}
.contact-body address{
    font-size: 0.8rem;
}
.contact-body p{
    font-size: .9rem;
}
.contact-body h3{
    font-size: 0.9rem;
}
/* Contact section end */
footer{
    color: white;
    padding: 1%;
    background-color: rgb(0, 50, 70);
}
.footer-p-style p{
    text-align: center;
    font-size:0.6rem ;
}
.all-icon{
    margin: 0 auto;
    text-align: center;

}

 .icon-style{
     color: rgb(72, 255, 0);
    font-size: 30px;
    padding: 10px;
 

 }
  /* footer section end */